:root {
    --darkbrown: #675141;
    --darkgreen: #4A501F;
    --lightgreen: #79804B;
    --lightergreen: #B4B368;
    --cream: #E1D7BC;
    --lightgrey: #F5F5F5;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

.body{
    background-color: white;
    display: flex;
    max-width: 100%;

}

/*-------------------------------Navbar-------------------------------*/

.anchor-container {
  position: relative;
}

.anchor {
  position: absolute;
  top: -85px; /* given the fixed header is 50px tall, and you want 15px padding */
  left: 0px;
}

nav{
    background-color: white;
    z-index: 8;
}


.navbar .logo-container{
    display: flex;
    align-items: center;
justify-content: center;
margin-left: 50px;
}

.header-logo{
    height: 70px;
    width: auto;
}

.navbar-nav{
    margin-right: 50px;
    gap: 30px;
}

.navbar-nav a.nav-link {
    color: #675141;
  }

  
  

  .navbar-nav a.nav-link:hover {
    color:#B4B368;
  }

  .navbar-toggler {
    margin-right: 50px;
  }

  /*-------------------------------Hero-------------------------------*/

  .hero-container {
    position: relative; 
    max-width: 100%; 
  }
  
  .hero-image {
    width: 100%;
    height: 1000px;
    object-fit: cover; 
    object-position: bottom; 
    display: block;
  }
  
  .hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px; 
    width: 500px;
    height: 40%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; */
    align-items: center;
  }

  .hero-title{
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
    font-size: 32px;
  }

  .hero-desc{
    width: 100%;
    color: #79804B;
    font-size: 18px;
  }

  .hero-box .cbutton-container{
    max-width: 200px;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 50px;
  }

  .contact-button {
    padding: 10px;
    box-shadow: 5px 5px 0px var(--darkgreen); 
    border: none;
    background-color: #79804B;
    color: white;
    font-size: 0.8rem;
  }

@media screen and (max-width: 768px) {
    .hero-box {
        width: 400px;
        height: 42%;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-desc {
        font-size: 18px;
    }

}

  @media screen and (max-width: 480px) {
    .hero-box {
        width: 250px;
        height: 45%;
    }

    .hero-title {
        font-size: 20px;
    }

    .hero-desc {
        font-size: 15px;
    }

   
}

 /*-------------------------------Services-------------------------------*/

 .service-section {
    padding: 5px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 10px;
  }

  .servicesTitle {
    text-align: center;
    padding: 20px;
  font-size: 40px;
   font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
  font-weight: lighter;
  margin-bottom: -20px;
}
  
.service-container {
  width: 90%;
  max-width: 1000px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

}

.right {
  width: 50%;
  height: 500px;
  background:url(./assets/images/toa-heftiba-unsplash1.jpg)
    no-repeat center / cover;
  border-radius: 0px;
}

.left {
  width: 50%;
  min-height: 400px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  margin-right: -70px;
  z-index: 2;
  margin-bottom: 80px;
}

#odd{
    margin-left: -70px;
}


.left h1 {
    margin-top: 70px;
  font-size: 32px;
   font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
  font-weight: lighter;
  text-decoration: underline;
}

.left .intro{
    width: 70%;
    text-align: center;
}

.left p {
    font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left ul{
    font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
  text-decoration: none;
  background-color: white;
  color: var(--darkbrown);
  padding: 20px 30px;
  display: inline-block;
  border: 10px solid var(--cream) ;
  border-radius: 0px;
}

@media only screen and (max-width: 768px) {
  .service-container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .right {
    display: none;
  }
  .left {
    width: 90%;
    margin: 0;
    margin-top: -50px;
  }
#odd{
    margin: 0;
}

}

@media only screen and (max-width: 480px) {
    .service-container {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    #odd{
        margin: 0;
    }
    .left {
      width: 90%;
      margin: 0;
    }
  }

   /*-------------------------------About-------------------------------*/
  .about-section{
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
  }

  .about-title{
    text-align: center;
    width: 100%;
    font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
    font-size: 32px;
  }

  .about-content{
    display: flex;
    flex-direction: row;
    margin-right: 150px;
    margin-left: 150px;
  }

  .about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
    width: 50%;
  }

  .about-text-container p{
    font-family: 'Averia Serif Libre', serif;
    color: var(--darkbrown);
    font-weight: 800;
    font-size: 1.2vw;

  }

  .about-text-container .cbutton-container
  {
    align-self: center;
  }

  .about-logo {
    padding: 50px;
    width: 50%;
    height: 650px;
    background:url(./assets/images/logos/gge-logo-16.png)
      no-repeat center / cover;
    border-radius: 0px;
   
  }

  @media only screen and (max-width: 1110px) {
    .about-content {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 20px;
    }

    .about-text-container{
      padding: 10px;
      width: 75%;
    }

    .about-text-container p{
      font-size: 1.5vw;
    }
    .about-logo {
      width: 300px;
      height: 400px;
      padding: 0px;
    }
  
  }

  @media only screen and (max-width: 768px) {

    .about-text-container p{
      font-size: 3vw;
    }
  }

   @media only screen and (max-width: 480px) {

    .about-text-container p{
      font-size: 4vw;
    }
  
  }

  /*-------------------------------Gallery-------------------------------*/

  .gallery-section{
max-width: 1224px;
width: 60%;
margin: auto;
padding: 40px 0;
align-items: center;
  }

  .gallery-section img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }

  .gallery-title
  {
    font-family: 'Averia Serif Libre', serif;
    color: #4A501F;
    font-size: 32px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .photo-gallery .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo-gallery .photo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-gallery{
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    box-sizing: border-box;
  }

  .photo-gallery .wide{
    grid-column: span 2;
    grid-row: span 2;
  }

  .photo-gallery .tall{
    grid-row: span 2;
    
  }

  .photo-gallery .big{
    grid-column: span 2;
    grid-row: span 2;
  }

  .photo-gallery > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-gallery img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  @media screen and (max-width: 1350px) {
    .photo-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
    }
    .photo-gallery .tall:nth-child(3) {
        grid-column: auto; 
        grid-row: auto; 
    }
  }

  @media screen and (max-width: 1100px) {
   
    .photo-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  
    }
    .photo-gallery .tall:nth-child(3) {
        grid-column: auto; 
        grid-row: auto; 
    }
  }
 
@media screen and (max-width: 880px) {
  .photo-gallery {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));  
  }

  .photo-gallery .wide,
  .photo-gallery .tall,
  .photo-gallery .big {
      grid-column: auto; 
      grid-row: auto; 
  }
}

 /*-------------------------------Contact-------------------------------*/

.contact-section{
  position: relative;
  min-height: 100vh;
 /* margin-top: 50px; */
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.contact-content{
  max-width: 800px;
  text-align: center;
}

.contact-content h2{
  font-family: 'Averia Serif Libre', serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--darkbrown);
}

.contact-content p{
  font-size: 18px;
  font-weight: 300;
  color: var(--darkgreen);
}

.contact-info-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-info{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact-box .icon{
  min-width: 60px;
  height: 60px;
  background: #B4B368;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.contact-info .contact-box:nth-child(1) .icon {
  background-color: var(--darkgreen);
}
.contact-info .contact-box:nth-child(2) .icon {
  background-color: var(--lightergreen); 
}
.contact-info .contact-box:nth-child(3) .icon {
  background-color: var(--lightgreen);
}

.contact-box .contact-text{
display: flex;
margin-left: 20px;
flex-direction: column;
font-weight: 300;
}

.contact-box .contact-text h3{
  font-family: 'Averia Serif Libre', serif;
  font-weight: 500;
  color: #675141;
  }

  .contact-box .contact-text p{
    font-weight: 500;
    color: #675141;
    }

    .fa-solid {
      color: white;
  }

.contact-form{
  border: 10px solid var(--cream) ;
  border-radius: 0px;
  width: 40%;
  padding: 40px;
  background: white;
}

.contact-form h2{
  font-size: 24px;
  font-family: 'Averia Serif Libre', serif;
  color: var(--darkbrown);
  font-weight: 500; 
}

.contact-form .inputBox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox input, .contact-form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .inputBox input:focus ~ span,
.contact-form .inputBox input:valid ~ span,
.contact-form .inputBox textarea:focus ~ span,
.contact-form .inputBox textarea:valid ~ span{

  color: var(--lightgreen);
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .inputBox input[type="submit"]{
  width: 150px;
  box-shadow: 5px 5px 0px var(--darkgreen); 
    border: none;
    background-color: #79804B;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 880px) {
  .contact-section{
    padding: 50px;
  }
  .contact-info-container{
    flex-direction: column;
  }
  .contact-info, .contact-form{
    width: 100%;
    margin-bottom: 40px;
  }
}
 /*-------------------------------Footer-------------------------------*/

 .footer-section{
  position: relative;
  min-height: 5vh;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: var(--cream);
}

.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 50px;
}

.footer-container .logo-container{
    display: flex;
    align-items: center;
  justify-content: center;
}

.footer-logo{
  height: 150px;
  width: auto;
}

.social-media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media-icons .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--darkbrown);
  cursor: pointer;
}

.follow-us{
  text-align: center;
}

.links-container .navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
margin-inline-end: 0px;
}

.links-container {
  text-align: center;

}

.follow-us{
  font-family: 'Averia Serif Libre', serif;
    color: var(--darkbrown);
    font-size: 1.5rem;
}

@media screen and (max-width: 990px) {
  .footer-section .logo-container{
    display: none;
  }
  .links-container{
    display: none;
  }
}













  














  